    * {
        margin: 0;
        padding: auto;
    }
    
    #banner {
        background-color: yellow;
        background: url("navi.jpg");
        background-size: cover;
        background-position: center;
        height: 500px;
        width: 100%;
        background-color: yellow;
    }
    
    .navbar {
        position: fixed;
        display: flex;
        background-color: yellow;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f5f5f5f5;
        z-index: 1;
        list-style: none;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown-content a {
        color: black;
        padding-top: 10px 10px;
        text-decoration: none;
    }
    
    .img {
        width: 70%;
    }
    
    .logo {
        height: 150px;
        width: 25%;
        border-radius: 20px;
    }
    
    .h1 {
        text-align: center;
    }
    /*footer*/
    
    .footer {
        border-top: 4px solid var(--primary-color);
        padding: 12px;
        background-color: yellow;
    }
    
    .footer_heading {
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    
    .grid {
        width: 1100px;
        max-width: 100%;
        margin: 0 auto;
    }
    
    .grid_row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-right: -5px;
    }
    
    .gird_column {
        padding-left: 5px;
        padding-right: 5px;
        width: 25%;
    }
    
    .footer_list {
        padding-left: 0;
        list-style: none;
    }
    
    .footer_item {
        list-style: none;
    }
    
    .footer_item_link {
        text-decoration: none;
        color: #737373;
        font-size: 1.2rem;
        padding: 2px 0;
        display: block;
    }
    /*loin*/
    
    .registered {
        background-image: url("login-background.0820eabf.jpg");
        width: 100%;
        height: 10%;
        padding: 320px 10px;
    }
    
    .login {
        width: 300px;
        height: 350px;
        position: absolute;
        background-color: white;
        border: 1px solid greg;
        border-radius: 10px;
        text-align: center;
        top: 30%;
        right: 10%;
    }
    
    .login h2 {
        display: inline-block;
        color: grey;
    }
    
    .login input {
        width: 200px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid grey;
        margin-top: 7%;
    }
    
    .check input {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        border: 1px solid grey;
    }
    
    .login button {
        width: 200px;
        height: 40px;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 5px;
        background-color: blue;
    }
    
    p {
        display: inline-block;
        padding-left: 50px;
        margin: 0px;
    }
    
    .check {
        float: left;
        padding-left: 50px;
    }
    
    .footer_download_app_img {
        width: 23%;
    }
    
    .footer_download_qr {
        width: 48%;
    }
    /*html copy*/
    
    .cot {
        display: flex;
        flex-wrap: wrap;
    }
    
    .containerr {
        max-width: 1200px;
        margin: auto;
        padding-top: 6%;
    }
    
    .row1 {
        display: flex;
        flex-wrap: wrap;
    }
    
    .cartegory {
        padding: 300px 0;
    }
    
    .cartegory-top {
        margin-bottom: 50px;
    }
    
    .cartegory-top p {
        font-size: var(--main-text-font);
        margin: 0px 12px;
        font-size: 15px;
    }
    
    .cartegory-left-li ul li {
        list-style: none;
    }
    
    .cartegory-left ul li {
        list-style: none;
    }
    
    .cartegory-left {
        width: 20%;
    }
    
    .cartegory-right {
        width: 80%;
    }
    
    .cartegory-right-top-item:first-child {
        flex: 2;
        font-size: 16px;
        font-family: var(--main-text-font);
        font-weight: bold;
    }
    
    .cartegory-right-top-item {
        flex: 1;
        padding: 0 12px;
    }
    
    .cartegory-right-top-item button {
        width: 100%;
        padding: 10px 15px;
        margin-bottom: 12px;
        justify-content: space-between;
        /* no cach chu ra*/
        background-color: #ffff;
        cursor: pointer;
    }
    
    .cartegory-right-top-item select {
        width: 100%;
        padding: 10px 15px;
        display: flex;
        justify-content: space-between;
        /* no cach chu ra*/
        border: 1px solod #ffff;
        cursor: pointer;
    }
    
    .dot-container {
        position: absolute;
        width: 16px;
        background-color: white;
        border: 50%;
        margin-right: 12px;
        cursor: pointer;
    }
    
    .cartegory-right-bottom {
        justify-content: space-between;
        margin: 30px 0 20px;
        width: 20%;
    }
    
    .cartegory-right-bottom p {
        font-family: var(--main-text-font);
        font-size: 11px;
    }
    
    .cartegory-left ul li {
        padding: 12px 0;
    }
    
    .cartegory-left-li>a {
        color: black;
        font-weight: bold;
        font-size: 16px;
        font-family: var(--main-text-font);
    }
    
    .cartegory-left ul li ul li {
        padding-left: 10px;
    }
    
    .cartegory-left-li ul {
        display: none;
    }
    
    .cartegory-left-li.block ul {
        display: block;
    }
    /*lam phan san pham*/
    
    .product {
        padding: 100px 0;
    }
    
    .product {
        padding: 100px 0;
    }
    
    .product-top {
        margin-bottom: 30px;
    }
    
    .product-top p {
        font-family: var(--main-text-font);
        margin: 0 12px;
        font-size: 12px;
    }
    
    .product-content-left {
        width: 60%;
    }
    
    .product-content-left-big-img {
        width: 80%;
        padding-right: 20px;
    }
    
    .product-content-left-big-img img {
        width: 100%;
    }
    
    .product-content-left-small-img {
        width: 20%;
    }
    
    .product-content-left-small-img img {
        width: 100%;
    }
    
    .product-content-right {
        width: 40%;
        padding-left: 20px;
    }
    
    .product-content-right-product-name h1 {
        font-family: var(--main-text-font);
        font-size: 16px;
    }
    
    .product-content-right-product-name p {
        font-family: var(--main-text-font);
        font-size: 16px;
        color: aliceblue;
    }
    
    .product-content-right-product-price {
        margin: 12px 0;
        font-size: 20px;
        font-family: var(--main-text-font);
        font-weight: bolder;
    }
    
    .product-content-right-product-color img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
    }
    
    .product-content-right-product-color-img {
        height: 40px;
        width: 40px;
        border: 1px solid #737373;
        display: flex;
        justify-content: center;
        margin: 12px 0;
    }
    
    .size span {
        display: inline-block;
        padding: 3px 6px;
        border: 1px solid #dddd;
    }
    
    .quantity {
        display: flex;
        margin-bottom: 20px;
    }
    
    .quatily input {
        width: 35px;
        padding-left: 3px;
    }
    
    .product-content-right-product-button button {
        width: 150px;
        height: 40px;
        display: block;
        margin: 20px 0 12px;
        transition: all 0.3s ease;
    }
    
    .product-content-right-product-button button:first-child {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #ffff;
        border: 2px solid black;
        cursor: pointer;
    }
    
    .product-content-right-product-button button:first-child:hover {
        background-color: black;
        color: #ffff;
    }
    
    .product-content-right-product-button button:last-child {
        border: 2px solid #BF8A49;
        color: #BF8A49;
        background-color: #ffff;
        cursor: pointer;
    }
    
    .product-content-right-product-icon {
        display: flex;
    }
    
    .product-content-right-produc-icon-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .product-content-right-product-icon-item i {
        font-size: 12px;
        margin-right: 6px;
    }
    
    .product-content-right-product-QR {
        margin: 20px 0;
    }
    
    .product-content-left {
        width: 60%;
    }
    
    .product-content-left-big-img {
        width: 80%;
        padding-right: 20px;
    }
    
    .product-content-left-big-img img {
        width: 100%;
    }
    
    .product-content-left-small-img {
        width: 20%;
    }
    
    .product-content-left-small-img img {
        width: 100%;
    }
    /*trang vo hang*/
    
    .cart {
        padding: 100px 0;
    }
    
    .cart-top-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cart-top {
        height: 2px;
        width: 70%;
        background-color: #dddddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0 100px;
    }
    
    .cart-top-item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #dddddd;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }
    
    .cart-top-item i {
        color: #dddddd;
    }
    
    .cart-top-cart {
        border: 1px solid #0DB7EA;
    }
    
    .cart-top-cart i {
        color: #0DB7EA;
    }
    
    .cart-content-left {
        flex: 2;
        padding-right: 12px;
    }
    
    .cart-content-left table {
        width: 90%;
        text-align: center;
    }
    
    .cart-content-left table th {
        padding-bottom: 30px;
        font-family: var(--main-text-font);
        font-size: 12px;
        text-transform: uppercase;
        color: #333;
        border-collapse: collapse;
        border-bottom: 2px solid #dddddd;
    }
    
    .cart-content-left table p {
        font-family: var(--main-text-font);
        font-size: 12px;
        color: #333;
    }
    
    .cart-content-left table input {
        width: 30px;
    }
    
    .cart-content-left table span {
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #dddddd;
        cursor: pointer;
    }
    
    .cart-content-left table td {
        padding: 20px 0;
        border-bottom: 2px solid #dddddd;
    }
    
    .cart-content-left td:first-child img {
        width: 130px;
    }
    
    .cart-content-left td:first-child(2) {
        max-width: 130px;
    }
    
    .cart-content-left td:first-child(3) {
        width: 30px;
        padding-left: 2px;
        /*cho nay nen sua lai nha*/
    }
    
    .cart-content-right {
        flex: 1;
        padding-left: 12px;
        border-left: 2px solid #dddddd;
    }
    
    .cart-content-right table {
        width: 100%;
    }
    
    .cart-content-right table th {
        padding-bottom: 30px;
        font-family: var(--main-text-font);
        font-size: 12px;
        color: #333;
        border-collapse: collapse;
        border-bottom: 2px solid #dddddd;
    }
    
    .cart-content-right table td {
        font-family: var(--main-text-font);
        font-size: 12px;
        color: #333;
        padding: 6px 0;
    }
    
    .cart-content-right tr:nth-child(4) td {
        border-bottom: 2px solid #dddddd;
    }
    
    .cart-content-right-text p {
        font-family: var(--main-text-font);
        font-size: 12px;
        color: #333;
    }
    
    .cart-content-right-buttom {
        text-align: center;
        align-items: center;
    }
    
    .cart-content-right-button button:first-child {
        background-color: #fff;
        border-bottom: 1px solid black;
        margin-right: 20px;
    }
    
    .cart-content-right-button button:first-child:hover {
        background-color: #ddd;
    }
    
    .cart-content-right-button button:last-child {
        background-color: black;
        border: none;
        color: #fff;
        border: 1px solid black;
    }
    
    .cart-content-right-button button:last-child:hover {
        background-color: #fff;
        color: black;
    }
    
    .cart-content-right-dangnhap p {
        font-family: var(--main-text-font);
        font-size: 12px;
        color: #333;
    }
    /*phan thanh toan nha*/
    
    .dilivery {
        background-color: yellowgreen;
        padding: 100px 0;
    }
    
    .dilivery-top-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .dilivery-top {
        height: 2px;
        width: 70%;
        background-color: #dddddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0 100px;
    }
    
    .dilivery-top-item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #dddddd;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }
    
    .dilivery-top-item i {
        color: #dddddd;
    }
    
    .dilivery-top-adress {
        border: 2px solid #0DB7EA;
    }
    
    .dilivery-top-adress i {
        color: #0DB7EA;
    }
    
    .dilivery-content-left {
        width: 60%;
        padding-right: 12px;
    }
    
    .dilivery-content-left p {
        font-family: var(--main-text-font);
        font-size: 12px;
    }
    
    .dilivery-content-left label {
        font-size: 12px;
        margin-bottom: 6px;
        font-family: var(--main-text-font);
        display: block;
    }
    
    .dilivery-content-left>p {
        font-weight: bold;
    }
    
    .dilivery-content-left-dangnhap {
        font-size: 12px;
        margin-right: 12px;
    }
    
    .dilivery-content-left-dangnhap input {
        margin-right: 12px;
    }
    
    .dilivery-content-left-khachle {
        font-size: 12px;
        margin-right: 12px;
    }
    
    .dilivery-content-left-khachle input {
        margin-right: 12px;
    }
    
    .dilivery-content-left-dangky {
        margin-bottom: 30px;
    }
    
    .dilivery-content-left-dangky input {
        margin-right: 12px;
    }
    
    .dilivery-content-left-input-top {
        justify-content: space-between;
    }
    
    .dilivery-content-left-input-top-item {
        width: calc(50%-12px);
    }
    
    .dilivery-content-left-iput-top-item input {
        width: 100%;
        height: 35px;
        border: 1px solid #dddddd;
        padding-left: 6px;
    }
    
    .dilivery-content-left-input-bottom input {
        width: 100%;
        height: 35px;
        border: 1px solid #dddddd;
        padding-left: 6px;
    }
    
    .dilivery-content-left-bottom p {
        display: inline-block;
        font-family: var(--main-text-font);
        font-size: 12px;
    }
    
    .dilivery-content-left-bottom span {
        margin-right: 12px;
    }
    
    .dilivery-content-left-bottom {
        justify-content: space-between;
        padding-top: 20px;
    }
    
    .dilivery-content-left-bottom button {
        height: 35px;
        border: 2px solid black;
        padding: 6px 12px;
        cursor: pointer;
        transition: all 0.3s;
    }
    
    .dilivery-content-left-bottom button:hover {
        background-color: black;
        color: #fff;
    }
    
    .diliver-content-right {
        width: 40%;
        padding-left: 12px;
        border-left: 2px solid #dddddd;
        height: auto;
    }
    
    .diliver-content-right table {
        width: 100%;
        font-family: var(--main-text-font);
        font-size: 12px;
        text-align: center;
    }
    
    .diliver-content-right table tr th:first-child {
        text-align: left;
    }
    
    .diliver-content-right table tr th {
        padding-bottom: 12px;
        border-bottom: 2px solid #dddddd;
    }
    
    .diliver-content-right table tr th:last-child {
        text-align: right;
    }
    
    .diliver-content-right table tr td {
        padding: 6px 0;
    }
    
    .diliver-content-right table tr:nth-child(4) {
        border-top: 2px solid #dddddd;
    }
    
    .diliver-content-right table tr td:last-child {
        text-align: right;
    }
    
    .diliver-content-right table tr td:first-child {
        text-align: left;
    }
    /*dang nhap*/
    
    .registered-img {
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .registered-form {
        width: 50%;
        background-color: rgb(228, 97, 10);
        top: 250px;
        right: 100px;
        font-size: medium;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border-radius: 8px;
        background-size: cover;
    }
    
    .text:hover {
        color: brown;
        cursor: pointer;
    }
    
    .registered-form td {
        font-weight: bold;
    }
    
    .dislay button {
        background: floralwhite;
        transition: 5s;
    }
    
    .dislay button:hover {
        background-color: rgb(250, 8, 8);
    }
    /*phan lam cho phan thnah toan*/
    
    .payment {
        padding: 100px 0;
    }
    
    .payment-top-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .payment-top {
        height: 2px;
        width: 70%;
        background-color: #dddddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0 100px;
    }
    
    .payment-top-item {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #dddddd;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
    }
    
    .payment-top-item i {
        color: #dddddd;
    }
    
    .payment-top-payment {
        border: 2px solid #0DB7EA;
    }
    
    .payment-top-payment i {
        color: #0DB7EA;
    }
    
    .payment-content-left {
        width: 60%;
    }
    
    c {
        width: 40%;
        border-left: 2px solid #ddd;
        padding-left: 12px;
    }
    
    .payment-content-left p,
    label {
        font-size: 12px;
        font-family: var(--main-text-font);
    }
    
    .payment-content-right-button {
        display: flex;
        padding: 12px 0;
        border-bottom: 1px dashed #dddddd;
    }
    
    .payment-content-right-button input {
        height: 30px;
        width: 100px;
        margin-right: 100px;
        padding-left: 12px;
    }
    
    .payment-content-right-button button {
        height: 30px;
        width: 100px;
        background-color: black;
        color: white;
        cursor: pointer;
        border: none;
    }
    
    .payment-content-right-mnv {
        margin-top: 20px;
    }
    
    .payment-content-right-mnv select {
        height: 30px;
        width: 100%;
        color: #75758A;
        padding-left: 12px;
    }
    
    .payment-content-right-payment {
        margin-top: 50px;
        align-items: center;
        text-align: center;
    }
    
    .payment-content-right-payment button {
        height: 35px;
        padding: 0 20px;
        font-size: 12px;
        color: black;
        cursor: pointer;
        transform: all 0.3s ease;
        border: 2px solid black;
    }
    
    .payment-content-right-payment button:hover {
        background-color: black;
        color: #fff;
    }